In [2]:
#importing libraries 
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [3]:
#importing data
June_sales = pd.read_csv("C:/Users/ADMIN/Documents/Supermarket-sales-analysis/June_supermarket_sales.csv")

In [4]:
June_sales.head()

,Item,Description,Qty_Sold,Sold_Price,Total_Sales,Total (Tax_Ex),Sales_Tax
0,16664,PACKING BAG #22 NON WOVEN,1.0,10,10,8.6207,1.3793
1,1430,SOKO ALL PURPOSE 2KG BALE,0.5,1920,960,960.0000,0.0000
2,310,SACHRINE SUGAR 50GMS,1.0,70,70,60.3448,9.6552
3,6.16E+12,CHAPA MANDASHI BAKING POWDER 1,2.0,40,80,68.9655,11.0345
4,6.16E+12,MOLO WHOLE MILK 500ML POUCH,1.0,60,60,60.0000,0.0000

In [7]:
# Check for null values in the dataset
null_values = June_sales.isnull().sum()

print(f'Null values in each column:\n{null_values}')

Null values in each column:
Item              0
Description       0
Qty_Sold          0
Sold_Price        0
Total_Sales       0
Total (Tax_Ex)    0
Sales_Tax         0
dtype: int64

In [6]:
June_sales = June_sales.dropna()

In [9]:
#checking for duplicates 
June_sales.duplicated().sum()

90927

In [10]:
June_sales[June_sales['Qty_Sold']== 0]

,Item,Description,Qty_Sold,Sold_Price,Total_Sales,Total (Tax_Ex),Sales_Tax
72,1742,BIG BOM SWEET,0.0,10,0,0.0,0.0
713,BZ00345,BULB STARTER,0.0,40,0,0.0,0.0
719,6.16E+12,KIWI BLACK 100ML,0.0,240,0,0.0,0.0
800,6.16E+12,MENENGAI 1KG,0.0,190,0,0.0,0.0
858,17089,PACKING BAG #25 NON WOVEN,0.0,20,0,0.0,0.0
...,...,...,...,...,...,...,...
97466,6.16E+12,EAST AFRICA MANDAZI 180G,0.0,55,0,0.0,0.0
98112,d3,d3 toy,0.0,850,0,0.0,0.0
98314,301,CENTRAL BIRYANI 1Kg,0.0,120,0,0.0,0.0
98445,12959,CENTRAL SUGAR 1KG,0.0,135,0,0.0,0.0
98603,6.16E+12,ASANTA POPCORNS200G,0.0,110,0,0.0,0.0

In [13]:
June_sales = June_sales[June_sales['Qty_Sold']!= 0]

In [ ]:
June_sales.